.bg-cover{
    background-size: cover;
}
.bg-center{
    background-position: center center;
}
.bg-norepeat{
    background-repeat: no-repeat;
}

.object-cover{
    object-fit: cover;
}

.h-345{
    height: 345px;
}
.w-345{
    width: 345px !important;
}
.w-80{
    min-width: 80px;
}


@include media-breakpoint-up(md) {
    .bg-md-none{
        background-color: transparent !important;
    }
    .bg-md-light{
        background-color: $light !important;
    }
    .h-md-350{
        height: 350px;
    }
    .w-md-350{
        width: 350px !important;
    }
}